.container {
    display: flex;
}
.sidebarMedium {
    flex: 1;
    min-height: 100vh;
}
.sidebarLarge {
    flex: 1;
    min-height: 100vh;
    border-right: 1px solid rgba(255,255,255,.15);
}
.navbarMedium{
  flex: 4.319;     
}
.navbarLarge{
   flex: 6.3;
}